
  {{!-- {{#ifEquals data.usertype 1}} --}}
  <!-- Modal Structure -->
  <form id="screening-report-modal" class="modal modal-fixed-footer" >
    <div class="modal-content" style="margin-top: 0px">
      <h5>Application Screening Form</h5>
      <b><div id= "screening-report-protocol-code"></div></b>
      <div id= "screening-report-proposal-title"></div>
      <div id = "screening-report-id" style="font-size: 4px;"> </div>
      <br>
      
      <div id="screenig-report" class="col s12">
          <label>Recommended Review</label>
          <select id="screening-report-select" class="browser-default">
            <option value="" disabled selected>Choose your option</option>
            <option value="Full Review">Full Review</option>
            <option value="Exempted">Exempted</option>
            <option value="Expedited">Expedited</option>
            <option value="Withdraw">Withdrawn</option>
          </select>
      </div>

      <br>
      <div id="screening-results" class="col s12">
        <h7>Missing/Incomplete/Incorrect Requirements</h7>
        <p>
        <label>
          <input class="checkbox filled-in screening-results-checkbox" type="checkbox"/>
          <span>Project Description</span>
        </label>
        </p> 
        <p>
        <label>
        <input class="checkbox filled-in screening-results-checkbox" type="checkbox"/>
        <span>Full Research Proposal including instruments used</span>
        </label>
        </p>

        <p>
          <label>
            <input class="checkbox filled-in screening-results-checkbox" type="checkbox" />
            <span>Informed Consent Form </span>
          </label>
        </p>

        <p>
          <label>
            <input class="checkbox filled-in screening-results-checkbox" type="checkbox"/>
            <span>Curriculum Vitae</span>
          </label>
        </p>

        <p>
          <label>
            <input class="checkbox filled-in screening-results-checkbox" type="checkbox" />
            <span>Guardian or Parental Consent Form</span>
          </label>
        </p>

        <p>
          <label>
            <input class="checkbox filled-in screening-results-checkbox" type="checkbox"/>
            <span>General Research Ethics Checklist</span>
          </label>
        </p>

        <p>
          <label>
            <input class="checkbox filled-in screening-results-checkbox" type="checkbox"/>
            <span>Specific Checklists </span>
          </label>
        </p>
        
          <label for="screening-report-comments">Comments</label>
          <textarea id="screening-report-comments" data-length="255" class="materialize-textarea" style=" min-height: 150px;
          font-size: 15px;"></textarea>
          <script>$('textarea#screening-report-comments').characterCounter();</script>
    </div>
    </div>
    <div class="modal-footer">
      <input value ="Submit" class="modal-close green btn" onclick=submitScreeningModal()></input>
    </div>

  </form>

  <script src="/js/screeningform.js"> </script>
{{!-- 
  {{/ifEquals}} --}}
