<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="/clientside_templates/screening_row.precompiled.js"></script>

{{!-- {{#ifEquals data.usertype 2}} --}}
<div id="proposal_modal"  class = "modal row"  style="width: 80%;">
  <div class="modal-content card" style="padding-bottom: 20px;" >
      <div class="row">
          <form class="col s12" autocomplete="off" id="form-group-proposal" method="POST" action = "/screening/proposal">
            <h6>Proposal Description</h6>
            <div class="row">
              <div class="input-field col s4">
                <input placeholder="category" id="form-control-category" name="category" type="text" class="validate autocomplete">
               <label for="form-control-category">Category</label>
              </div>
      
              <div class="input-field col s4">
                <input placeholder="AY" id="form-control-ay" type="text"name="AY" class="validate">
                <label for="form-control-ay">School  Year</label>
              </div> 
      
              <div class="input-field col s4">
                  <select id ="form-control-term" name="term">
                    <option value="" disabled selected>TERM</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <label>Term</label>
              </div>

              <div class="input-field col s12">
                <input placeholder="Study Title" id="form-control-title" name="title" type="text" class="validate">
                <label for="form-control-title">Study Title</label>
             </div>
             <div class="input-field col s12">
              <input placeholder="PHREB Category" id="form-control-phreb" type="text" name ="phreb" class="validate autocomplete">
              <label for="form-control-phreb">Phreb Category</label>
            </div>
            </div>
          <h6> Proponents </h6>
         

          <div class="row">
            <div id="proponents-rows">
              <div class="proponent-row" id = "proponent-row-1">
                <div class="input-field col s4">
                  <input placeholder="Proponent Name" id="form-control-name-1" name="name" type="text" 
                  class="validate autocomplete name">
                  <label for="form-control-name-1">Name</label>
                </div>
                <div class="input-field col s2">
                  <input placeholder="College" id="form-control-college-1" type="text" name="college" 
                  class="validate autocomplete">
                  <label for="form-control-college-1">College</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Proponent Center" id="form-control-center-1" name="center" type="text" 
                  class="validate autocomplete">
                  <label for="form-control-center-1">Center</label>
                </div> 
                <div class="col col-btn">
                <div class="btn-floating flat small red" id="del-proponent-row-1"
                style="text-align: center;"  onclick=removeProponentProposal(this) >
                  <i class="material-icons" >remove</i>
                </div>
              </div>
              </div>
              <div class="btn-floating flat small green" onclick=addProponentProposal(this) style="margin-left: -10px;">
                <i class="material-icons">add</i>
              </div> 
            </div>
            
          </div>
      
              <div class="input-field col s12">
                  <input placeholder="Research Assistant" id="form-control-ra" type="text" name = "ra"
                   class="validate autocomplete">
                  <label for="ra">Research Assistant</label>
              </div>
              <input type="submit" class="btn col s12 green submit" value="submit">
              
          </form>
         </div>
  </div>
</div>

<script>
  $('select').formSelect();
</script>
{{!-- {{/ifEquals}} --}}


<script src="/js/proposal.js"> </script>

