
    
    <script src="/clientside_templates/search_result.precompiled.js" ></script>



  <style>
      nav{
          box-shadow: none;
          border: none;
      }

    .btn-nav{
        box-shadow: none;
        filter: grayscale(100%);
    }

    .btn-nav:hover{
        color: green;
         box-shadow: none;
         filter: grayscale(0%);
         transition: ease 1s;
    }

  </style>
  
  <nav class = "navbar autohide " style="position: fixed; z-index: 3;">
    <div class="nav-wrapper row">
        <ul id="nav-mobile" class="left col s8">
            <li>
                <a href="#" data-target="slide-out" 
                class="sidenav-trigger show-on-large">
                <i class="material-icons green-text">menu</i></a>
            </li>
           <li>
          
            </li>
        </ul>
      <ul class="menu_right right">
            {{> search_bar}}

        <li><a href="#" class = "btn-floating btn-small btn-nav green lighten-5 dropdown-trigger" data-target='dropdown1'> 
            <i class="material-icons green-text text-lighten-2">exit_to_app</i>
            </a>
        </li>

    
        <li><a class="btn-floating btn-small btn-nav green lighten-5" href="#">
            <i class="material-icons green-text text-lighten-2">notifications</i>
            </a>
        </li>
      </ul>
    </div>
  </nav>

         <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/logout">Logout</a></li>
        </ul>


<style>
    .sidenav{
        width: 84px;
        overflow-y: auto;
        
    }
    .menu > li.row > a > i{
         margin-top: -14px;
        margin-bottom: -22px;
     
    }

    .menu > li.row{
        height: 40px;
        
    }



    .menu > li.row > a{
        line-height: 35px;
        padding-left: 6px;
        padding-right: 6px;
        color: white;
        opacity: 65%;
    }

     .menu > li.row > a.active{
          opacity: 100%;
    }


    .menu{
        padding-top: 12px;
    }


  .menu > li > a:hover { 
    background-color: transparent; 
        transition:  0.5s ease;
        color: white;
        opacity: 100%;
    }

    .nav-logo > a > img{
        width: 72px; 
        height: 72px;
      
    }

    .nav-logo{
        margin-top: 1px;
        padding: 5px;
        border-top: solid 2px #81c784 ;
        border-bottom: solid 2px transparent ;
       
    }

    .menu{
        margin-top: 0px;
    }

</style>



  <div id="slide-out" class="sidenav sidenav-fixed green ">
    
        <div class ="nav-logo center">   <i class=" material-icons white-text center">keyboard_arrow_left</i></div>

        <ul class = "menu">
        
        <li class = "row">
             <a class=" center col s12" href="/dashboard">
             <i class=" material-icons white-text center col s12"  >dashboard</i>
             Dashboard
            </a>
    
         </li>
        <li class = "row">
            <a class="white-text center col s12 {{#if screening}} active {{/if}} " href="/screening">
            <i class=" material-icons white-text  center col s12">description</i>
            Screening</a>
        </li>
        <li class = "row">
            <a class="white-text  center col s12"  href="#!">
                <i class=" material-icons white-text center col s12" style="">bookmark</i>
                Review</a>
        </li>
        <li class = "row">
            <a class="white-text  center col s12 {{#if report}} active {{/if}}"  href="/report">
            <i class=" material-icons white-text center col s12" style="">bar_chart</i>
            Reports</a>
        </li>
        <li class = "row"><a class="white-text center col s12 " href="#!">
            <i class=" material-icons white-text  center col s12" style=""></i>
            Users</a></li>
        
        
        </ul>
    </div>

        <div class="side-content-wrapper search-result-wrapper" style="background-color: white; z-index: 2;">
        <div class="search-result-status" style="height: 64px; background-color: white; color: #3EB26D; margin-top: 10px; 
        padding: 18px; font-size: 14px; font-weight: 500; letter-spacing: 0.45px;" >
            Searching
            <div class="progress progress-search">
                <div class="indeterminate"></div>
            </div>
        </div>

        
        <div id="search-results row" style="padding: 15px;">
            <ul class="collection">
                <li class="collection-header search-result-header">
                    Results in screening
                </li>
{{!-- <li class="collection-item search-result-item proposal" ></li> --}}
    {{!-- <div class="row">
        <a href="!#" style="padding-top: 0px !important; text-align: start; color: #4A4AFF; font-weight: bold;">
            <!-- {{ code }} -->
            DLSU-FRP.001.2018-2019.T2.GCOE
        </a> 
        <a class="secondary-content" style="color: #8B83BA;"href="#!"><i class="material-icons">more_vert</i></a>
        <div class="status right" >
            <div class="status-type on-going">
                <span class = "circle on-going"></span>
               on-going
            </div>
        </div>
        <div class="due_date">due 15/APR/2019</div>
        <div class="assigned_ra">
            <label style="font-size: 10px; color:#6E6893; font-weight: bold;">Assigned to</label>
          <a href = "!#" style="font-weight: bold">Phoebe Chen</a>
        </div>
        <br>
        <!-- {{ title}} -->
        Attitudes Towards Cause-Marketing in Two Emerging Markets-India and Philippines: The Role of Corporate Social Responsibility, Time Orientation and Company Origin
        Attitudes Towards Cause-Marketing in Two Emerging Markets-India and Philippines: The Role of Corporate Social Responsibility, Time Orientation and Company Origin
        Attitudes Towards Cause-Marketing in Two Emerging Markets-India and Philippines: The Role of Corporate Social Responsibility, Time Orientation and Company Origin
        <div class="proponent-proposal" >
          <br>
          <label style="font-size: 10px; color:#6E6893; font-weight: bold;">Proponents </label>
          <div><b>Dr. Bernadas</b> (CLA, Electronics and Communications Engineering)</div>
          <div><b>Dr. Bernadas</b> (CLA, Electronics and Communications Engineering)</div>
          <div><b>Dr. Bernadas</b> (CLA, Electronics and Communications Engineering)</div>
      </div> 
    </div>
    
  --}}

            </ul>
        </div>
    </div>




<script>

    $('.dropdown-trigger').dropdown();
  
</script>   

    



    <link href='/static/navbar/style.css' rel='stylesheet' />
    <script src="/static/navbar/script.js"></script>