 <div class="card-tabs row" >
        <ul class="tabs tabs-fixed-width col s12 ">
            <li class="tab col s3 tb"><a href="#test4">All</a></li>
            <li class="tab col s3 tb"><a class="active " href="#test5">On-going</a></li>
            <li class="tab col s3 tb" ><a href="#test6">Pending</a></li>
            <li class="tab col s3 tb"><a href="#test6">Withdrawn</a></li>
            <div class="tab col s3 tb"></div>
            <div class="tab col s3 tb"></div>
            <div class="tab col s3 tb"></div>
            <div class="tab col s3 tb"></div>
            <div class="tab col s3 tb"></div>
            <div class="tab col s3 tb"></div>
        </ul>
</div>