  <!DOCTYPE html>
  <html>
  <head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href= 'https://fonts.googleapis.com/css?family=Inter'  rel='stylesheet' />
    <link href= '/css/materialize.min.css'  rel='stylesheet' />
     <script src="/js/materialize.min.js"></script>
     <link href= '/css/global.css'  rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>

  </head>
  <script>
   
        
Handlebars.registerHelper('ifEquals',
function(a, b, opts) {
    if (a == b) {
        return opts.fn(this)
    } else {
        return opts.inverse(this)
    }
});

</script>

<body>
    <div class="wrapper" style="">
        <header>
            {{> header}}
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            {{> footer}}
        </footer>
    </div>
</body>

</html>

