<html>
<head>
    <link rel="stylesheet" href="/css/materialize.min.css">
</head>
<body style="vertical-align: middle; display: flex;
    align-items: center;
    justify-content: center;">
    <div class="card" style="max-width: 400px;">
    <form action="/user" method="post" class="row card-content">
        <h5 class="card-title col s12">Login</h5>
        <div class="input-field col s12">
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="input-field col s12">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <input class="btn col s12" type="submit" value="Log in">
    </form>
    </div>
</body>
</html>