<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    </head>
    <body>
    
        <div class="d0">
            <div class="d1">Home</div>
            <div class="d1">|</div>
            <div class="d1">Contact Us</div>
        </div>

        <div class="forcenter">
            <div class="found">
                <div class="imgs">
                    <img style="height: 60%; margin-left: 200px;"
                    src="/images/sorting.png"
                    />
                </div>
                
                <div class="message">
                    <div>
                        <div class="horray">Sorry! We are unable to</div>
                        <div class="horray">find this document.</div>
                    </div>
                    <div>
                        <div class="dnum">document {{id}}</div>
                    </div>
                
                </div>
            </div>
            
        </div>



    </body>
</html>

<link rel="stylesheet" href="/css/noresult.css">