<div class="card table-container "style="margin-top: 80px; margin-left: 90px">
    <div class="card-content row " style="height: 100%; overflow-y: hidden;">
      <div class="row" style="overflow-y: auto; max-height: auto; ">
        <span class="x">Report</span>
      </div>

      <div class="btn">
          Download CSV
      </div>                  

    </div>
</div>

