<script src="/js/materialize-pagination.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="/clientside_templates/screening_row.precompiled.js"></script>
<link href= '/css/screening.css'  rel='stylesheet' />
<script src="/js/screening.js"> </script>

<style>
   .input-field > #screening_search{
     border: none;
     outline: none;
   }

    .input-field >  #screening_search:active,  .input-field >  #screening_search:focus{
     border: none !important;
     outline: none !important;
   }
</style>

<div class="card table-container">
    <div class="card-content row">
      <div class="row">
        <span class="x">Screening</span>
        <a class="btn-floating btn-small waves-effect waves-light green modal-trigger" href="#proposal_modal" style="margin-top: -10px;" >
          <i class="material-icons">add</i>
        </a>
      </div>

      <div class="card-tabs row" >
        <ul class="screening-tabs tabs  ">
          <li class="tab col s2 tb"><a href="#completed-table-content">Completed</a></li>
          <li class="tab col s2 tb"><a class="active " href="#on-going-table-content">On-going</a></li>
          <li class="tab col s2 tb" ><a href="#pending-table-content">Pending</a></li>
          <li class="tab col s2 tb"><a href="#withdrawn-table-content">Withdrawn</a></li>
          <li class="tab col s2 tb"></li>
          <li class="tab col s2 tb"></li>
          <li class="tab col s2 tb"></li>
        </ul>
      </div>
      {{> screening/filter}}

      <div class="material-table">                        
      
          <table>
          <thead>
            <tr class = "table-header">
              <th style = "padding-top: 10px;">Action</th>
              <th style = "padding-top: 10px;"></th>
              <th> Proposal </th>
              <th class="hide-on-medium-small details">Details</th>
              <th class = "status">Status</th>
              <th class ="hide-on-medium-small">Recent Activity</th>
              <th class="hide-on-small-and-down"></th>
              <th class="hide-on-small-and-down"></th>
              <th style = "padding-top: 10px;"></th>
            </tr>
          </thead>
          </table>
            <table class="datatable" >
          <tbody id="on-going-table-content"></tbody>
          <tbody id="completed-table-content"></tbody>
          <tbody id="pending-table-content"></tbody>
          <tbody id="withdrawn-table-content"></tbody>
        </table>

      </div>
    </div>
</div>

{{> screening/proposal_form }}
{{> screening/application_checklist}}

