.status-type.overdue{
    color: red;
    background: #FFE0E0;
  }
  
  .status-type.overdue > .circle{
    background-color: red;
  }
  
  .status-type.pending{
    color: #CE8500;
    background-color: #FFECCC;
    
  }
  
  .status-type.pending > .circle{
    background-color: #CE8500;
  }
  
  
  .status-type.on-going{
    color: #4A4AFF;
    background-color: #E6E6F2;
  
  }
  
  .status-type.on-going > .circle{
    background-color: #4A4AFF;
  }
  
  .status-type.completed{
    color: green;
    background-color: #CDFFCD;
  }
  
  .status-type.completed > .circle{
    background-color: green;
  }
  
  .status-type .withdrawn{
    color: #6E6893;
    background-color: #F2F0F9;
  }
  
  .circle .withdrawn{
    background-color: #6E6893;
  }
  
  div.status > .status-type > .circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
  }
  
  div.status > .status-type {
    width: 100px;
   height: 24px;
   font-weight: bold;
    /* border-radius: 50%; */
    font-size: 12px;
  
    padding-left: 10px;
    padding-top: 3px;
    font-family: Inter;
  
    border-radius: 30px 30px 30px 30px;
    outline-style: round;
  }
  
  
  .due_date{
    font-size: 11px;
    color: #25213B;
   font-weight: bold;
  }
  .assigned_ra > a {
    font-weight: bold;
    font-size: 12px;
    font-family: Inter;
    color: #4A4AFF;
  }
  
  
  #main_side_nav {
    width: 84px;
    overflow-y: auto;
  }
  .menu > li.row > a > i {
    margin-top: -14px;
    margin-bottom: -22px;
  }
  
  .menu > li.row {
    height: 40px;
  }
  
  .menu > li.row > a {
    line-height: 35px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    opacity: 65%;
  }
  
  .menu > li.row > a.active {
    opacity: 100%;
  }
  
  .menu {
    padding-top: 12px;
    margin-top: 0px;
  }
  
  .menu > li > a:hover {
    background-color: transparent;
    transition: 0.5s ease;
    color: white;
    opacity: 100%;
  }
  
  
  #main_top_nav{
      box-shadow: none;
      border: none;
  }
  
  .btn-nav{
    box-shadow: none;
    filter: grayscale(100%);
  }
  
  .btn-nav:hover{
    color: green;
     box-shadow: none;
     filter: grayscale(0%);
     transition: ease 1s;
  }
  
  
  #nav_search_form {
    position: relative;
    height: 100%;
    background: inherit;
  }
  .nav-wrapper {
    background: white;
  }
  
  
  /*search bar*/
  #search-form{
      height: fit-content; 
      align-items: right;
      position: relative;
      display: inline-flex; 
      /* background-color: bisque; 
      border: black 1px solid;
      border-radius: 5px;  */
      height: 50px;
      max-width: 400px;
      overflow-x: auto;
      
  }
  
  
  .my-grey {
      background: #f7f7f7;
  }
  
  input.search-field {
      font-weight: 500;
      border: 0;
  
    }
  
  
  form.search-field {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border: 0;
  
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
  
  
    width: 400px;
  }
  
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.54);
  }
  
  
  .chip{
      width: auto;
      height: 30px;
      border-radius: 5px;
      line-height: 35px;
      font-size: 12px;
      overflow-x: visible;
   }
   .chip img{
      height: 20px;
      width: 20px;
   }
  
  .search-content {
    color: #303c42;
    width: 90%;
    margin: auto;
    height: auto;
    padding: 8px 10px;
  }
  .search-heading {
    color: #757575;
    display: block;
    font-size: 12px;
    line-height: 30px;
  }
  .search-popup {
    right: 180px;
    top: 58px;
    min-height: 50px;
    max-height: 700px;
    width: 200px;
    position: absolute;
  
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: width 0.2s, top 0.2s ease-in-out;
    border-radius: 2px;
    background-color: #fff;
    width: 400px;
  
    z-index: 2;
  }
  
  nav ul.popup-list a:hover {
      background-color: initial;
    }
    nav ul.popup-list li {
      float: none;
    }
    nav ul.popup-list li a {
      line-height: 30px;
      padding: 0;
      font-size: 12px;
      color: #212121 !important;
    }
    nav ul.popup-list li a:hover {
      background-color: #f7f7f7;
    }
  
    .side-content-wrapper{
      position: fixed;
      top: 0px;
    }
  
  @media (min-width:360px)  { 
  
  }
  @media (min-width:481px)  { 
      /* body{
          background-color: aquamarine;
      } */
      #search-form {
        max-width: 50%;
        outline: none;
        color: #212121;
        top: 56px;
      }
  
      .side-content-wrapper{
        max-width: 100%;
        margin-top: -10px;
      }
  
      .search-popup{
        top: 56px;
        right: 0;
        width: 100%;
      }
      
  
  
   }
  @media (min-width:600px)  { 
      /* body{
          background-color: #4A4AFF;
      } */
  
      #search-form {
        max-width: 400px;
        outline: none;
        color: #212121;
      }
  
      input.search-field:focus {
          outline: none;
          color: #212121;
        
      }
  
      .search-popup{
        width: 400px;
        right:180px;
      }
  
  }
  
  @media (min-width:992px)  {  
      /* body{
          background-color: #6E6893;
  
      } */
  
      /* input.search-field:focus {
          outline: none;
          color: #212121;
          width:400px
      } */
  
      
  
  
  }
  @media (min-width:1025px) { 
      /* body{
          background-color: #8B83BA;
      } */
  
      .search-popup{
        width: 400px;
        right:180px;
      }
  
   }
  
  
  
  
  @media (min-width: 1200px) { 
/*   
      body{
          background-color:green;
      } */
      .search-popup{
        width: 400px;
        right:180px;
      }
  
  }
  
  
  .search-result-wrapper{
    height: 100%; overflow-y: auto; 
    width: 600px; position: fixed; 
    right: 0px; background-color:white;
     z-index: 1; 
     top: 64px; 
     padding: 0px;
     
  }
  
  
  .search-result-wrapper > div > ul{
    border: #F4F2FF;
  }
  .collection-item.search-result-item{
    background-color: white; 
    margin-bottom: 10px;
    max-height: 100px;
    overflow: auto;
  }
  
  
  .search-result-header{
    padding-left: 10px; 
                      font-size: 12px; background-color: #F4F2FF; font-weight: 600; color: #6E6893;
                      letter-spacing: 0.55px; height: 42px; vertical-align: middle; padding: 12px; border-radius: 5px;
  }
  
  
  
  .progress-search {
    
    background-color: rgba(62, 178, 108, 0.34);
  }
  
  
  .progress-search .indeterminate {
    background-color: #3EB26D;
  }